@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Dish>
<form asp-action="Index" method="get">
	<div class="form-actions no-color">
		<p>
			Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
			<input type="submit" value="Search" class="btn btn-default" /> |
			<a asp-action="Index">Back to Full List</a>
		</p>
	</div>
</form>
<div class="wrapper">
	<div class="section section-gray">
		<div class="container">

			<h3 class="section-title">Menu</h3>
			<div class="row">
				<div>
					<div class="products">

						<div class="row">

							@foreach (var item in Model)
							{
								<div class="col-md-4 col-sm-4">
									<div class="card card-product card-plain">
										<div class="card-image">
											<a asp-route-id="@item.DishID" asp-action="Details" asp-controller="Client">
												<img src="~/uploads/@item.NameImage" alt="Rounded Image" class="img-rounded img-responsive" width="406.39 px" height="550px">
											</a>
											<div class="card-body">
												<div class="card-description">
													<h5 class="card-title">@item.DishName</h5>
												</div>
												<div class="price">
													@{
														float auprice;
														if (item.Discount != null)
														{
															float discount = item.Discount ?? 0;
															auprice = item.Price * (1 - discount);
														}
														else
															auprice = item.Price;
													}
													@if (item.Discount != null)
													{
														<strike>@item.Price VND</strike> <span class="text-danger">@auprice VND</span>
													}
													else
													{
														<div class="price">
															<h5>@item.Price VND</h5>
														</div>
													}
												</div>
											</div>
											<div class="card-footer">
												<form asp-action="AddToCart" asp-controller="Cart" method="post">
													<input type="hidden" name="id" value="@item.DishID" />
													<button type="submit" class="btn btn-sm text-dark p-0">
														<i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="product__pagination">
			@Html.PagedListPager(Model,page=>Url.Action("Index",new{page=page}),new PagedListRenderOptions()
			{
			LiElementClasses = new string[] { "page-item" },
			PageClasses = new string[] { "page-link" }
			})
</div>
