@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Dish>
<div class"ms-2 mx-2">
    <h1>Dish List</h1>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>

    <a asp-action="Create" class="btn btn-primary">Create New Dish</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dish Id</th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@(ViewData["NameSortParm"])">Name</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>
                </th>   
                <th>Making</th>
                <th>Request</th>
                <th>Discount</th>
                <th>Image</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.DishID</td>
                    <td>@s.DishName</td>
                    <td>@s.Price</td>
                    <td>@s.Making</td>
                    <td>@s.Request</td>
                    <td>@s.Discount</td>
                    <td><img src="~/uploads/@s.NameImage" class="img-rounded img-thumbnail" width="200 px" height="100 px" alt="Image" /></td>
                    <td><a asp-action="Edit" asp-route-id="@s.DishID">Edit</a>|<a asp-action="Delete" asp-route-id="@s.DishID">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="product__pagination">
    @Html.PagedListPager(Model,page=>Url.Action("Index",new{page=page}),new PagedListRenderOptions()
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
    })
</div>

