@{
    ViewData["Title"] = "Index";
}
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Menu>
<h1>Employee List</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Address: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>User Id</th>
            <th>User Name</th>
            <th>User Address</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(ViewData["DateSortParm"])">Date time</a>
            </th>
            <th>Employee ID</th>
            <th>Vat</th>
            <th>Discount</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>
            </th>
            <th>Details/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.MenuId</td>
                <td>@s.UserId</td>
                <td>@s.User.FirstName @s.User.LastName</td>
                <td>@s.User.Address</td>
                <td>@s.DateTime</td>
                <td>@s.EmployeeId</td>
                <td>@s.Vat</td>
                <td>@s.Discount</td>
                <td>@s.totalprice</td>

                <td><a asp-action="Details" asp-route-id="@s.MenuId">Detail</a>|<a asp-action="Delete" asp-route-id="@s.MenuId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="product__pagination">
    @Html.PagedListPager(Model,page=>Url.Action("Index",new{page=page}),new PagedListRenderOptions()
    {
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
    })
</div>
